@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: white;
    border-bottom: 1px solid #e4e4e4;
}

.main{
    background-color: #eceff1;
}

.wrapper{
    max-width: 1700px;
    margin: auto;
    padding: 1px;
}

#main-logo{
    max-width: 210px;
}

#bag-logo{
    max-width: 50px;
}

#login-logo{
    max-width: 50px;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.header-wrapper{
    align-items: center;
    padding: 15px;
    max-width: 1700px;
    margin: auto;
}

#search-input{
    height: 40px;
    width: 420px;
    font-size: 15px;
    padding: 0 10px;
    max-width: 420px;
    max-height: 40px;
}

#search-input:focus{
    outline: none !important;
}

.flex{
    display: flex;
}

#search-button{
    background-color: #ff598a;
    border: none;
    color: white;
    letter-spacing: 2px;
    padding: 0 12px;
}

#search-button:hover{
    background-color: #ff6c95;
}

.department-bar{
    background-color: white;
    max-width: 250px;
    width: 250px;
    padding: 15px 15px 15px 0;
}

#font-spacing{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ff598a;
}

.under-border{
    text-align: center;
    border-bottom: 2px solid #ff598a;
    max-width: 120px;
    padding-bottom: 5px;
    margin: auto;
}

.block{
    display: block;
}

.department{
    line-height: 38px   ;
    align-items: center;
    padding-top: 10px;
    max-width: 120px;
}

#department-logo{
    max-height: 35px;
}

.department-block{
    padding-left: 25px;
    border-left: 2px solid white;
    text-decoration: none;
    color: #222;
}

.department-block:hover, .department-block:focus{
    cursor: pointer;
    color: #ff598a;
    filter: invert(51%) sepia(65%) saturate(2480%) hue-rotate(310deg) brightness(101%) contrast(101%);
}

.align-items-center{
    align-items: center;
}

.department-block img{
    max-width: 40px;
    margin-right: 8px;
}

#departments{
    padding-top: 15px;
}

.type-bar{
    max-width: 900px;
    width: 900px;
    background-color: white;
    display: none;
    flex-wrap: wrap;
}

.hello-block{
    margin: 10px;
}

#showed-type-category{
    padding-right: 30px;
}

#type{
    margin-top: 15px;
    font-size: 19px;
}

#type a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

#type a:hover{
    color: #54cab6
}

#categories{
    margin-top: 6px;
}

#categories a{
    text-decoration: none;
    color: #2b2b2b;
}

#categories a:hover{
    color: #54cab6
}

#showed-category{
    padding-top: 3px;
    padding-bottom: 3px;
}